html {
  font-family: "Libre Baskerville", serif;
  font-family: "Martel Sans", sans-serif;
  font-family: "Paytone One", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.menu-links ul {
  list-style: none;
  padding: 0;
}

.menu-links i {
  margin-left: 10px;
  color: grey;
}

/* .menu-links li a:hover {
  border-color: #0070ba;
  border-width: 4px;
  color: red;
} */

.menu-links ul li {
  float: left;
  padding: 25px;
}

.menu-links ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
}

.menu-links {
  margin-top: -18px;
}

.nav-buttons {
  margin: 15px;
}

button {
  padding: 10px 18px;
  width: 90px;
  border-radius: 30px;
  font-weight: 400;
}

.nav-buttons .btn-secondary {
  color: #0070ba;
  border: 1px solid #0070ba;
  background-color: transparent;
  font-weight: 600;
}

.btn-primary {
  background-color: #0070ba;
  color: #fff;
  border: none;
  font-weight: 600;
}

.nav-buttons button:hover {
  cursor: pointer;
}

.transparent {
  background-color: transparent !important;
}

.nav-buttons .btn-secondary:hover {
  border: 1px solid #004f84;
  color: #004f84;
}
.nav-buttons .btn-primary:hover {
  background-color: #004f84;
}

.text-description button:hover {
  border: 1px solid #004f84;
  color: #004f84;
  cursor: pointer;
}
.btn-body {
  margin-top: 0;
  width: 300px;
  background: white;
  color: #02387b;
  border: 1px solid #0070ba;
  padding: 16px 18px;
  font-weight: 600;
}
.small-display {
  display: none;
}

.body-text {
  text-align: center;
  padding: 0px 2%;
}

.body-text button:hover {
  cursor: pointer;
}

.body-container {
  width: 100%;
  height: 80vh;
  background-color: #0070ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg-video {
  position: absolute;
  background-size: cover;
  overflow: hidden;
  display: none;
}

.support {
  background-color: #02387b;
  text-align: center;
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.support button:hover {
  cursor: pointer;
}

.btn-spt {
  min-width: 160px;
  background-color: #fff;
  border-color: #fff;
  color: #0d3685;
  font-weight: 600;
  font-size: 0.7rem;
}

.support p {
  margin-top: 0;
  padding-top: 20px;
  font-size: 1.3rem;
  color: white;
  font-weight: 100;
}

.container {
  padding: 0px 48px;
  margin: 0px 58px;
  overflow: hidden;
}

.container p {
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
}

.container-feature {
  margin: 0px 92px;
  padding: 0px 48px;
  display: flex;
  justify-content: space-between;
}

.feature {
  padding: 40px 60px;
  overflow: hidden;
}

.payment-box {
  padding: 40px 60px 0px 60px;
}

.feature-paragraph {
  font-size: 15px;
}

.img-feature {
  margin-left: 126px;
}

.img-feature img {
  max-width: 90%;
  max-height: 350px;
}
.text-description {
  width: 50%;
}

.grey-bg {
  background-color: #f5f7fa;
}

.white-bg {
  background-color: #fff;
}

.headline {
  color: #00a8ea;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: "Martel Sans", sans-serif;
}

.headline-body {
  margin-top: 0;
  padding: 0 20%;
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: "Martel Sans", sans-serif;
  text-align: center;
}

.btn-feature {
  margin-top: 25px;
  width: 60%;
  background: white;
  color: #0070ba;
  border: 1px solid #0070ba;
  padding: 16px 18px;
  font-weight: 600;
}

.brands {
  text-align: center;
}

.brand-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logos img {
  padding: 10px;
  max-width: 100%;
}

.container-payment {
  margin: 0px 152px;
  padding: 0px 48px;
  text-align: center;
}

.payment-count {
  min-height: 400px;
  background-color: #00a8ea;
}

.container-payment button {
  background-color: #fff;
  color: #0d3685;
  font-weight: 600;
  border: none;
  width: 40%;
}

.container-payment button:hover {
  cursor: pointer;
  color: #004f84;
}

.container-payment .headline {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.clock {
  color: black;
  display: flex;
  padding: 30px 0;
  justify-content: center;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.clock > div {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.number-digit {
  width: 4rem;
  height: 4rem;
  border-radius: 20px;
  background-color: #fff;
  margin: 2.5px;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-digit span {
  color: #000;
}

.container {
  margin: 0px 152px;
  padding: 0px 48px;
}

.disclosure {
  padding: 40px 0px;
}

/* Responsiveness */

@media (max-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
  }
  .navbar {
    width: 100%;
    display: flex;
    background-color: white;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .menu-links {
    display: none;
  }

  .headline-body {
    margin-top: 0;
    padding: 4% 0;
  }
  .body-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .medium-display {
    display: none;
  }

  .small-display {
    display: block;
  }
  .container-feature {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .img-feature {
    margin-left: 0;
  }
  .btn-feature {
    width: 100%;
  }
  .container-payment {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .support .container {
    margin: 0;
    padding: 0;
  }
  .support p {
    margin: 0;
    font-size: 1.3rem;
  }

  .container {
    margin: 0;
    padding: 0;
  }
  .disclosure {
    padding: 4% 8%;
  }
}

@media (max-width: 698px) {
  .support p {
    margin-top: 0;
    font-size: 1rem;
  }
  .features {
    display: flex;
    flex-direction: column;
  }
  .container-feature {
    margin: 0;
    padding: 0;
    display: block;
  }
  .text-description {
    width: 100%;
    padding-top: 10%;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .img-feature img {
    max-width: 100%;
  }
  .headline {
    text-align: center;
    font-size: 2.2rem;
  }
  .feature {
    padding: 10% 12%;
  }
  .brand-logos {
    display: flex;
    flex-direction: column;
  }
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .number-digit {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}

@media (max-width: 417px) {
  .container-payment button {
    width: 100%;
  }
  .nav-buttons {
    margin: 0;
  }
  .navbar {
    height: 70px;
  }
}
